@charset "utf-8";
@import url(reset.css);
/* CSS Document */
* {
	margin:0;
	padding:0;
}

body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
    background: #fff;
}

html {
	height:100%;
}

/* TYPOGRAPHY */
a{}
body a:hover{ 
    text-decoration:none; 
    color: #33ccff;
}

li{
    list-style: none;
}
/* END TYPOGRAPHY */
	
header, nav, section, article, aside, footer { display:block;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.clearfix:before,
.clearfix:after {
  content:'\0020';
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.clearfix:after {
  clear:both;
}
	
#wrapper {
	width:991px;
	margin:0 auto;
    outline: 1px solid #000;
    position: relative;
}

/* Buttons
-----------------------------------------------------------------------------*/
.btn{
	display:inline-block;
	position:relative;
	overflow:visible;
	vertical-align:middle;
	outline:none;
	border:none;
	cursor:pointer;
	-webkit-appearance:none;
	text-decoration:none;
}
/* Icons
-----------------------------------------------------------------------------*/
.ico{
	display:inline-block;
	vertical-align:middle;
	background:url('../img/icons.png') no-repeat;
	overflow:hidden;
	margin-right:5px;
}
/* Forms
-----------------------------------------------------------------------------*/

::-webkit-input-placeholder {
	color:#84817e;
}
:-moz-placeholder {
	color:#84817e;
}
.placeholder {
	color:#84817e;
}

/* Structures
-----------------------------------------------------------------------------*/
.black{
    width: 100%; height: 42px;
    background-color: #141414;
    position: absolute;
}

.black2{
    width: 100%; height: 557px;
    position: absolute;
    background: url(../img/black2.jpg);
    top:42px;
}

/* Header
-----------------------------------------------------------------------------*/

#header{
    outline: 1px solid #fff;
}
.logout{
    height: 27px; width: 100%;
    background: #141414;
    padding-top: 15px;
}

.sing{
    font: 11px Arial, sans-serif;
    color: #fff;
    float: left;
}

.s1{
    font: 11px Arial, sans-serif;
    color: #cccccc;
    float: left;
    padding-left: 35px;
}

.faceIco{
    display: block;
    float: left;
    width: 16px; height: 16px;
    background: url(../img/icoF.png) left;
    margin-left: 19px;
}

.vkIco{
    background: url(../img/icoF.png) -18px;
    margin:0px 182px 0px 17px;
}

.help{
    font: 11px Arial, sans-serif;
    color: #cccccc;
    float: right;
}

.logo{
    width: 169px; height: 65px;
    display: block;
    float: left;
    background: url(../img/logo.png);
    margin-top: 14px;
}

.bg{
    background: url(../img/black2.jpg);
    width: 100%; height: 134px;
}

.b1{
    width: 100%; height: 114px;
    outline: 1px solid #ccc;
}

.nt1{
    font: 11px Arial, sans-serif;
    color: #ccc;
}

.nb1{
    padding: 40px 157px 0px 81px;
    float: left;
}

.serch{
    background: #fff url(../img/searchBg.png) no-repeat right;
    width: 300px; height: 22px;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

.l1 li{
    width: 72px; height: 22px;
    display: inline-block;
    padding: 3px 0px 0px 17px;
    margin: 0px;
    margin-right: 7px;
}

.l1 li:hover{
    outline: 2px solid #fff;
}

.l1 .os{
    width: 83px;
}

.l1 .os2{
    width: 95px;
}

.l1 .os3{
    width: 45px;
}

.l1 .os4{
    margin: 0px;
    width: 65px;
}

.a-lis{
    font:16px 'pf_dindisplay_probold';
    color: #fff;
    text-transform: uppercase;
}

.bg-color{
    background-color: #009fe3;
}

.bg-color a:hover{
    color: #fff;
}



/*----------end-----------------*/
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width:991px;
	margin:0 auto;
	height:100px;
	position:relative;
    outline: 1px solid #000;
}