@charset "utf-8";
@import url(reset.css);
/* CSS Document */
* {
	margin:0;
	padding:0;
}

body{
	margin:0px;
	padding:0px;
	width:100%;
	height:100%;
    background: #fff;
}

html {
	height:100%;
}

/* TYPOGRAPHY */
a{}
body a:hover{ 
    text-decoration:none; 
    color: #33ccff;
}

li{
    list-style: none;
}
/* END TYPOGRAPHY */
	
header, nav, section, article, aside, footer { display:block;}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.clearfix:before,
.clearfix:after {
  content:'\0020';
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0;
}
.clearfix:after {
  clear:both;
}
	
#wrapper {
	width:920px;
	margin:0 auto;
    position: relative;
}

/* Buttons
-----------------------------------------------------------------------------*/
.btn{
	display:inline-block;
	position:relative;
	overflow:visible;
	vertical-align:middle;
	outline:none;
	border:none;
	cursor:pointer;
	-webkit-appearance:none;
	text-decoration:none;
}
/* Icons
-----------------------------------------------------------------------------*/
.ico{
	display:inline-block;
	vertical-align:middle;
	background:url('../img/icons.png') no-repeat;
	overflow:hidden;
	margin-right:5px;
}
/* Forms
-----------------------------------------------------------------------------*/

::-webkit-input-placeholder {
	color:#84817e;
}
:-moz-placeholder {
	color:#84817e;
}
.placeholder {
	color:#84817e;
}

/* Structures
-----------------------------------------------------------------------------*/
.black{
    width: 100%; height: 42px;
    background-color: #141414;
    position: absolute;
}

.black2{
    width: 100%; height: 557px;
    position: absolute;
    background: url(../img/black2.jpg);
    top:42px;
}

.black3{
    width: 100%; height: 430px;
    position: absolute;
    background: url(../img/black3.jpg);
    top: 599px;
}

/* Header
-----------------------------------------------------------------------------*/

#header{
    padding-bottom: 23px;
    background: url(../img/black2.jpg);
}

.logout{
    height: 27px; width: 100%;
    background: #141414;
    padding-top: 15px;
}

.sing{
    font: 11px Arial, sans-serif;
    color: #fff;
    float: left;
}

.s1{
    font: 11px Arial, sans-serif;
    color: #cccccc;
    float: left;
    padding-left: 35px;
}

.faceIco{
    display: block;
    float: left;
    width: 16px; height: 16px;
    background: url(../img/icoF.png) left;
    margin-left: 19px;
}

.vkIco{
    background: url(../img/icoF.png) -18px;
    margin:0px 182px 0px 17px;
}

.help{
    font: 11px Arial, sans-serif;
    color: #cccccc;
    float: right;
}

.logo{
    width: 169px; height: 65px;
    display: block;
    float: left;
    background: url(../img/logo.png);
    margin-top: 14px;
}

.bg{
    background: url(../img/black2.jpg);
    width: 100%; height: 134px;
}

.b1{
    width: 100%; height: 114px;
}

.nt1{
    font: 11px Arial, sans-serif;
    color: #ccc;
}

.nb1{
    padding: 40px 177px 0px 81px;
    float: left;
}

.serch{
    background: #fff url(../img/searchBg.png) no-repeat right;
    width: 210px; height: 22px;
    border: none;
    border-top: 1px solid #ccc;
    margin-top: 40px;
}

.l1 li{
    width: 72px; height: 22px;
    display: inline-block;
    padding: 3px 0px 0px 15px;
    margin: 0px;
    margin-right: 1px;
}

.l1 li:hover{
    outline: 2px solid #fff;
}

.l1 .os{
    width: 83px;
}

.l1 .os2{
    width: 95px;
}

.l1 .os3{
    width: 45px;
}

.l1 .os4{
    margin: 0px;
    width: 65px;
}

.a-lis{
    font:16px 'pf_dindisplay_probold';
    color: #fff;
    text-transform: uppercase;
}

.bg-color{
    background-color: #009fe3;
}

.l1 a{
    text-decoration: none;
}

.bg-color a:hover{
    color: #fff;
}

/*----------end-----------------*/
/*----------content-------------*/
.content{
    float: left;
    width: 480px; height: auto;
    background-color: #fff;
    overflow: visible;
}

.blok1{
    width: 100%; height: 400px;
    background:url(../img/blok1Bg.jpg) no-repeat;
}

.iphote-t{
    font:35px 'pf_dindisplay_probold';
    color: #fff;
    text-transform: uppercase;
    line-height: 35px;
}

.bg-ipho{
    padding: 41px 0px 0px 31px;
}

.link-ph{
    margin: 11px 0px 0px 31px;
}

.l2{
    font: 13px Arial, sans-serif;
    color: #fff;
}

.icoMesbg{
    width: 13px; height: 12px;
    background: url(../img/icoM.png);
    display: block;
    float: left;
}

.icoMesbg2{
    width: 11px; height: 11px;
    background: url(../img/icoM.png) right top;
    display: block;
    float: left;  
}

.num{
    font: 13px Arial, sans-serif;
    color: #fff;
    float: left;
    margin-top: -3px;
    padding: 0px 10px 0px 5px;
}

.icoMes{
    margin:87px 0px 0px 31px;
}

.b-l{
    width: 210px; height: 375px;
    float: left;
    margin:0px 0px 0px 20px;
    padding-top: 24px;
}

.h-1{
    font:16px 'pf_dindisplay_probold';
    color: #333333;
    float: left;
    margin-right: 5px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.b-link{
    font: 11px Arial, sans-serif;
    color: #333333; 
}

.h-3{
    font:16px 'pf_dindisplay_probold';
    margin-bottom: 3px;
}

.p-b-new{
    font: 11px Arial, sans-serif;
    color: #333333;
    line-height: 17px;
}

.ico-c{
    width:13px; height: 12px;
    display: inline-block;
    background: url(../img/icoC.png);
    float: left;
}

.ico-c2{
    width: 11px; height: 11px;
    display: inline-block;
    background: url(../img/icoC.png) right top;
    float: left;
}

.num2{
    font: 11px Arial, sans-serif;
    color: #999999;
    float: left;
    margin-top: -2px;
    padding: 0px 10px 0px 5px;
}

.icoC{
    margin-top:6px;
}

.b-new{
    border-bottom: 1px solid #ccc;
    padding-bottom: 12px;
    margin-bottom: 16px;
}

.hov h3:hover{
    color: #0099cc;
    cursor: pointer;    
}

/*----------end content---------*/
/*----------slide right---------*/
.slide{
    width: 440px; height: auto;
    margin-left: 480px;
}

.sb1{
    width: 210px; height: 800px;
    float: left;
    margin-right: 20px;
    background-color: #fff;
}

.sb2{
    width: 210px; height: 640px;
    margin-left: 210px;
    background: url(../img/black2.jpg);
    padding-left: 20px;
}

.s-b1{
    width: 100%; height: 160px;
    background: url(../img/sb-1.jpg);
}

.f-h2{
    font:16px 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #fff;
}

.bh2{
    padding:25px 0px 0px 19px;
}

.s-a{
    font: 11px Arial, sans-serif;
    color: #fff;
    margin:9px 0px 0px 19px;
}

a.s-a:hover{
    color: #fff;
}

.mes-s{
    margin: 15px 0px 0px 19px;
}

.s-b2{
    width: 100%; height: 160px;
    background: url(../img/sb-1.jpg); 
}

.s-b2:hover{
    background: #009fe3 url(../img/blueBg.jpg);
    cursor: pointer;
}
.mes-s2{
    margin: 32px 0px 0px 19px;
}

.s-b3{
    width: 100%; height: 160px;
    background: url(../img/sb-3.jpg);
}

.s-bf:hover{
    background: #009fe3 url(../img/blueBg.jpg);
    cursor: pointer;
}

.s-b4{
    width: 100%; height: 160px;
    background: url(../img/sb-4.jpg);
}

.s-b5{
    width: 100%; height: 160px;
    background: url(../img/sb-5.jpg);
}

.mes-s3{
    margin: 47px 0px 0px 19px;
}

.wv{
    width: 200px; height: 301px;
    position: relative;
    left: -10px;
    margin-bottom: 20px;
}

.vw-t{
    width: 110%; height: 298px;
    background-color: #fff;
    position: relative;
    left: -20px;
    padding-top: 21px;
}

.in{
    width: 91%; height: 60px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    margin-left: 20px;
}

.inno{
    float: left;
    margin-right: 12px;
}

.inno-h{
    font:12px 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #333333;
}

.inno-h:hover{
    color: #0099cc;
    cursor: pointer;
}

.inno-t{
    font: 11px Arial, sans-serif; 
    color: #333333;
    padding-left: 33px;
}
/*----------end slide right-----*/
/*----------full-comnets--------*/
.ful-comt{
    width: 690px; height: 30px;
}

.more{
    width: 100%; height: 100%;
    background-color: #009fe3;
    border: none;
    font:16px 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #fff;
    
}
/*----------end ful-coment------*/
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width:880px;
	margin:0 auto;
	height:432px;
	position:relative;
    outline: 1px solid #000;
    background-color: #1d1d1d;
    padding: 20px 20px 0px 20px;
}

.fot-1{
    width: 100%; height: 222px;
    border-bottom: 1px solid #333333;
}

.h3-fot{
    font:16px 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #fff;
    float: left;
    margin-right: 15px;
}

.a-fot{
    font: 11px Arial, sans-serif;
    color: #cccccc;
}

.b1-fot{
    margin-bottom: 20px;
}

.w-1{
    width: 80px; height: auto;
    float: left;
    margin-right: 20px;
}

.wbg{
    margin-bottom: 11px;
}

.w-t{
    font:12px 'pf_dindisplay_probold';
    text-transform: uppercase;
    color: #cccccc;
}

.ico-w{
    width: 13px; height: 12px;
    display: block;
    background: url(../img/icoW.png);
    float: left;
    margin-right: 5px;
    margin-top: 3px;
}

.w-num{
    font: 11px Arial, sans-serif;
    color: #cccccc;
}

.sb-w{
    margin-top: 12px;
}

.fot-2{
    width: 100%;
    margin-top: 27px;
}

.fot-h4{
     font:14px 'pf_dindisplay_probold';
     color: #fff;
     padding-bottom: 9px;
}

.w-3{
    float: left;
    margin-right: 40px;
}

.fotIco{
    width:16px; height: 16px;
    background: url(../img/icoFoot.png);
    display: block;
    float: left;
    margin: 5px 10px 0px 0px;
}

.fotIco:hover{
    background: url(../img/icoFoot.png) right top;
}

.fotIco2{
    width: 16px; height: 16px;
    background: url(../img/icoFoot3.png);
    display: block;
    float: left;
    margin: 5px 10px 0px 0px;
}

.fotIco2:hover{
    background: url(../img/icoFoot3.png) right top;
}

.fotIco3{
    width: 16px; height: 16px;
    background: url(../img/icoFoot2.png);
    display: block;
    float: left;
    margin: 5px 16px 0px 0px;
}

.fotIco3:hover{
    background: url(../img/icoFoot2.png) right top;
}

.sotsite{
    margin-top: 25px;
    width: auto;
    float: left;
}

.atention{
    margin: 25px 97px 0px 60px;
    float: left;
}

.copy{
    margin-top: 25px;
}
